<!DOCTYPE html>
<html
  lang="en"
  layout:decorate="~{layout(title='TODO List')}"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <title>TODO List</title>
  </head>
  <body>
    <div layout:fragment="content">
      <div class="mb-2">
        <a class="btn btn-success" th:href="@{/todos/new}" role="button">Create TODO</a>        
      </div>
      <div class="alert alert-info" role="alert" th:if="${#lists.isEmpty(todos)}">
        Nothing to do! Great job!
      </div>
      <ul class="list-group" th:unless="${#lists.isEmpty(todos)}">
        <li th:each="todo : ${todos}" class="list-group-item list-group-item-action d-flex flex-row align-items-center">
          <div>
            <div th:text="${todo.title}" class="fw-bold">Title</div>
            <div
              th:if="${todo.description} != null"
              th:text="${todo.description}"
            >
              Description
            </div>
          </div>
          <div class="ms-auto">
            <a
            th:href="@{${'/todos/'+todo.id+'/edit'}}"
            class="btn btn-primary btn-sm ms-auto"
            role="button">Edit</a>
            <a
              th:href="@{${'/todos/'+todo.id+'/delete'}}"
              onclick="return confirm('Are you sure you want to delete this TODO?')"
              class="btn btn-danger btn-sm ms-auto"
              role="button">Delete</a>
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>
